<h2 mat-dialog-title>AGREGAR CONTACTO</h2>
<mat-dialog-content class="mat-typography">
    <div form class="formulario">
        <mat-form-field class="input">
            <mat-label>Cargo</mat-label>
            <input class="i" placeholder="Ingresar Nombre" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Nombre</mat-label>
            <input class="i" placeholder="Ingresar Telefono" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Telefono</mat-label>
            <input class="i" placeholder="Ingresar Correo" matInput>
        </mat-form-field>
    </div>
    <div form class="formulario">
        <mat-form-field class="input">
            <mat-label>Correo</mat-label>
            <input class="i" placeholder="Ingresar Nombre" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Comentarios</mat-label>
            <input class="i" placeholder="Ingresar Telefono" matInput>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>