<div class="Pagina">
    <br>
    <h1>INFORMACION DE CONTACTO</h1>

    <div form class="formulario">
        <mat-form-field class="input">
            <mat-label>Nombre</mat-label>
            <input placeholder="Ingresar Nombre" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Telefono</mat-label>
            <input class="i" placeholder="Ingresar Telefono" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Correo</mat-label>
            <input type="email" placeholder="Ingresar Correo" matInput>
        </mat-form-field>
    </div>
    <div form class="formulario">
        <mat-form-field class="input">
            <mat-label>Pais</mat-label>
            <input class="i" placeholder="Ingresar Nombre" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Departamento</mat-label>
            <input class="i" placeholder="Ingresar Telefono" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Ciudad</mat-label>
            <input class="i" placeholder="Ingresar Correo" matInput>
        </mat-form-field>
    </div>
    <div form class="formulario">
        <mat-form-field class="input">
            <mat-label>Barrio</mat-label>
            <input class="i" placeholder="Ingresar Nombre" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Tipo de inmueble</mat-label>
            <input class="i" placeholder="Ingresar Telefono" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Direccion</mat-label>
            <input class="i" placeholder="Ingresar Correo" matInput>
        </mat-form-field>
    </div>
    <br>
    <h2>OTROS CONTACTOS</h2>
    <div class="secciont">
        <ag-grid-angular class="ag-theme-alpine" [defaultColDef]="defaultColDef" [rowData]="rowData"
            [columnDefs]="colDefs">

        </ag-grid-angular>
    </div>

    <div class="opciones">
        <button (click)="openDialog()" class="nuevo" mat-raised-button color="primary">Nuevo contacto</button>
        <button class="obras" mat-raised-button color="primary">Obras</button>
        <button class="guardar" mat-raised-button color="primary">Guardar</button>
        <button class="cerrar" mat-raised-button color="primary">Cerrar</button>
    </div>
    <br>
</div>