h1,
h2 {
    margin-left: 2%;
}

h2 {
    margin-top: 5%;
}

.formulario {
    margin-left: 2%;
}

.input {
    margin-right: 30px;

}

.opciones {
    margin-top: 10%;
    margin-left: 2%;
}

.obras {
    margin-left: 4%;
}

.guardar {
    margin-left: 50%;
}

.cerrar {
    margin-left: 4%;
}