<div class="Pagina">
    <br>
    <h1>INFORMACION DE CONTACTO</h1>

    <div class="row">
        <div class="col-6">
            
        </div>
    </div>

    <h2>OTROS CONTACTOS</h2>
    <div class="secciont">
        <ag-grid-angular class="ag-theme-alpine" [defaultColDef]="defaultColDef" [rowData]="rowData"
            [columnDefs]="colDefs">

        </ag-grid-angular>
    </div>

    <div class="opciones">
        <button (click)="openDialog()" class="nuevo" mat-raised-button color="primary">Nuevo contacto</button>
        <button class="obras" mat-raised-button color="primary">Obras</button>
        <button class="guardar" mat-raised-button color="primary">Guardar</button>
        <button class="cerrar" mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
    </div>
    <br>
</div>
